html, body {
    overflow: auto;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #10151A;
    color: #F1F5F8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: calc(50px + 15px) 10%;
    gap: 40px;
    max-width: 60%;
}

#about-me {
    scroll-margin-top: 80px;
}

topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    width: 100%;
    overflow: visible;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(200px);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}
.topbar-buttons {
    display: flex;
    gap: 25px;
}

.topbar-buttons a {
    font-size: 0.9rem;
    font-weight: 500;
    color: #F1F5F8;
    text-decoration: none;
    padding: 10px 0;
    position: relative;
    transition: color 0.3s ease;
    text-transform: none;
}

.topbar-buttons a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #3C91E6;
    transition: width 0.3s ease;
}

.topbar-buttons a:hover::after {
    width: 100%;
}

.topbar-buttons a:hover {
    color: #3C91E6;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    padding: 0 20px;
}

.social-icons i {
    margin: 0;
    color: #F1F5F8;
    transition: color 0.3s ease;
}

.social-icons a {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 30px;
    margin-left: -20px;
    color: #F1F5F8;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.social-icons a:hover {
    color: #3C91E6;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 50px 10%;
    gap: 40px;
    max-width: 60%;
}

main section {
    width: 100%;
    text-align: left;
}

main h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #F1F5F8;
    margin: -10px 0;
    position: relative;
    z-index: 15;
}

main h2 {
    font-size: 2em;
}

main p {
    text-align: justify;
    font-size: 1.2em;
}

main h1, main p {
    z-index: 15;
    position: relative;
    background-color: rgba(16, 22, 26, 0);
}

.header-inline {
    display: flex;
    align-items: baseline; 
    gap: 20px;
}

.header-inline h1 {
    margin: 0;
}


.highlight-name {
    font-size: 3rem;
    font-weight: 600;
    color: transparent;
    background: linear-gradient(to right, #4FC3F7, #81D4FA, #56c1f3, #13aef6);
    -webkit-background-clip: text;
    background-clip: text;
}

.learn-more-btn {
    z-index: 100;
    position: relative;
    display: inline-block;
    margin-top: 40px;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    z-index: 10;
    color: #F1F5F8;
    background: linear-gradient(to right, #3C91E6, #00B0FF);
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.learn-more-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}


#projects {
    display: flex;
    flex-direction: column;
}

.project-content {
    position: relative;
    z-index: 2;
}

.project-content h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.project-content .project-date {
    font-size: 0.9rem;
    color: #bbb;
    margin-bottom: 12px;
}

.project-content .project-description {
    font-size: 1rem;
    line-height: 1.5;
}

.project-item {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    margin-bottom: 30px;
    padding: 20px;
    transition: transform 0.5s ease-in-out, box-shadow 9.5s ease-in-out, background-color 0.5s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.project-item:hover {
    transform: scale(1.05);  /* Augmente la taille de 5% */
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3); /* Ajoute un effet de shadow plus intense */
    background-color: rgba(0, 0, 0, 0.3);   
}

.project-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(7, 77, 143, 0.554) 0%, rgba(0, 0, 0, 1) 80%),  var(--project-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: -1;
}

.project-content a {
    color: #F1F5F8;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    text-transform: none;
}

.project-content a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #3C91E6;
    transition: width 0.3s ease;
}
.project-content a:hover{
    color : #3C91E6;
}


.project-content a:hover::after {
    width: 100%;
}

.topbar-buttons a:hover {
    color: #3C91E6;
}

footer {
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    font-weight: 600;
    color: #AAB2BD;
}

.blob-outer-container {
    z-index: -2;
    position: fixed;
    height: 100%;
    width: 100%;
    inset: 0;
    margin: auto;
    filter: blur(200px);
    opacity: 0.6;
}

.blob-inner-container {
    border-radius: 99999px;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    min-width: 1000px;
    overflow: hidden;
    background-color: #031C39;
    transform: scale(1.2);
}

.blob {
    position: absolute;
    width: 120vw;
    height: 120vh;
    inset: 0;
    margin: auto;
    background: conic-gradient(from 0deg, #2D4F8F, #004F70, #1A3B60, #031C39);
    animation: morphCircles 10s ease-in-out infinite;
}

@keyframes morphCircles {
    0% {
        transform: translate(0, 0) scale(1.5);
    }
    25% {
        transform: translate(300px, -500px) scale(2);
    }
    50% {
        transform: translate(-400px, 600px) scale(1.8);
    }
    75% {
        transform: translate(-800px, -400px) scale(2.2);
    }
    100% {
        transform: translate(900px, -200px) scale(1.6);
    }
}
