:root {
    color-scheme: light dark;
}

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: light-dark(#F9F0E3, #1d2125);
    color: light-dark(#5C4A42, #f5f5f5); 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2 {
    font-family: 'Source Code Pro', monospace;
    color: light-dark(#D4A373,#6badce); 
}

p {
    line-height: 1.6;
}

a {
    color: light-dark(#D4A373,#6badce);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sidebar {
    background-color: light-dark(#E8D3BF,#2c333a); 
    width: 250px;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    font-size: 1.2em;
    color: light-dark(#5C4A42, #f5f5f5);
    font-weight: bold;
}

.sidebar nav ul li a:hover {
    color: light-dark(#D4A373,#6badce);
}


.social-icons {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start; 
    gap: 10px; 
}

.social-icons a {
    color: light-dark(#5C4A42, #f5f5f5);
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: light-dark(#D4A373,#6badce);
}

.social-icons i {
    font-size: 1.8em;
    transition: transform 0.3s ease;
}

.social-icons i:hover {
    transform: scale(1.1);
}

main {
    flex-grow: 1;
    margin-left: 270px;
    padding: 20px 50px;
}

header {
    margin-bottom: 30px;
    border-bottom: 2px solid light-dark(#D4A373,#6badce);
    padding-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

section {
    margin-bottom: 50px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: light-dark(#C2A98C, #2c333a); 
    color: light-dark(#F3EFEA, #F5F5F5);
    position: relative; 
    width: 100%; 
    border-top: 1px solid light-dark(#D4A373,#6badce);
    height: 100px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 0; 
}
