img {
    border-radius: 2vw;
    height: 18vw;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 2%;
}

figcaption {
    display: block;
    text-align: center;
    margin-bottom: 2%;
}


h2, h1 {
    color: #81D4FA;
}

.link {
    color: #81D4FA;
    text-decoration: none;
}

.link:hover {
    color: #81D4FA;
    text-decoration: underline;
}