.table-of-contents {
    position: fixed;
    left: 2vw; 
    top: 100px; 
    width: 14vw; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); 
    color: #F1F5F8;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    z-index: 10;
}

.table-of-contents h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #3C91E6;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.table-of-contents ul {
    list-style: none;
    padding-left: 0;
}

.table-of-contents ul li {
    margin: 15px 0;
}

.table-of-contents a {
    text-decoration: none;
    color: #F1F5F8;
    font-weight: 500;
    font-size: 1rem;
    display: block;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease; 
    padding: 5px 0;
    border-radius: 5px;
}

.table-of-contents a:hover {
    color: #00B0FF;
    transform: translateX(10px);
}

.table-of-contents a::before {
    content: "→";
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 1.2rem;
    color: #00B0FF;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.table-of-contents a:hover::before {
    opacity: 1;
}

.content {
    padding-left: 280px;
    width: 100%;
}



img {
    border-radius: 1vw;
    height: 18vw;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 2%;
}

figcaption {
    display: block;
    text-align: center;
    margin-bottom: 2%;
}


h2, h1, h3 {
    color: #81D4FA;
}



h3 {
    font-size: 1.2em;
}

.title {
    font-size: 1.5em;
}

.link {
    color: #81D4FA;
    text-decoration: none;
}

.link:hover {
    color: #81D4FA;
    text-decoration: underline;
}

.citation {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 20px 20px 20px;
    margin: 20px 0;
    border-left: 5px solid #3C91E6;
    font-style: italic;
    font-size: 1.1rem;
    color: #F1F5F8;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    line-height: 1.6;
    text-align: justify;
}

.citation:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateX(5px);
}

.citation::before {
    content: "“";
    font-size: 4rem;
    font-family: "Georgia", serif;
    color: #3C91E6;
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 1;
}

.citation span {
    display: block;
    margin-top: 20px;
}

.citation-source {
    font-size: 1rem;
    font-weight: 500;
    color: #AAB2BD;
    text-align: right;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .study-content h1 {
        font-size: 1.5em;
    }

    .table-of-contents {
        display: none;
    }

    .study-content h2 {
        font-size: 1.2em;
    }

    .study-content h3 {
        font-size: 1.1em;
    }

    .study-content p {
        font-size: 1em;
    }
    
    .MJX-TEX { 
        font-size:0.8em; 
    }
    
    img {
        border-radius: 2vw;
        height: auto;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4%;
        margin-bottom: 2%;
    }

    figcaption {
        font-size: 0.8em;
    }
}